<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
{% if star is defined %}
 <form action="/stars/{{star.id}}" method="POST">
    <input type="hidden" name="id" value="{{star.id}}" />
{% else %}
    <form action="/stars" method="POST">
{% endif %}

    <div class="control">
        <label>Name:</label>
        <input
            type="text"
            name="name"
            {% if star is defined %}
            value="{{ star.name }}"
            {% endif %}
        />
    </div>

    <div class="control">
        <label>Size:</label>
        <input
            type="integer"
            name="size"
            {% if star is defined %}
            value="{{ star.size }}"
            {% endif %}
        />
    </div>

    <div class="control">
        <label>Description:</label>
        <textarea name="description">{{ star.description }}</textarea>
    </div>

    <button type="submit">Submit</button>
</form>